In [1]:
print("hello")

hello

In [2]:
print("hello")

hello

In [4]:
a=[-56,-85,13,20,30,40,50]
# a.append([12,45,6,89])
# a=a[::-1]

# a.extend([12,45,6,89])
# a.sort()
# a.reverse()
# print(len(a))
# print(sum(a))
# print(min(a))
# print(max(a))
# a.clear()

a.append(12)
a.append(45)
a.append(6)
a.append(89)

print(a)

[-56, -85, 13, 20, 30, 40, 50, 12, 45, 6, 89]

In [13]:
a=[-56,-85,13,20,30,40,50]
# a.extend([12,45,6,89])
# a.sort()
# a.reverse()
print(len(a))
print(sum(a))
print(min(a))
print(max(a))
a.clear()
print(a)

7
12
-85
50
[]

In [16]:
a = [10, 20, 30]
# Append the list [40, 50] to 'a'
# Extend 'a' with [60, 70]
a.append([40,50])
a.extend([60,70])
print(a)

[10, 20, 30, [40, 50], 60, 70]

In [17]:
a = [1, 2, 3, 4, 5]
# Reverse the list using slicing
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [18]:
a = [10, 5, 8, -1, 3]
# Sort the list in ascending order
a.sort()
print(a)

[-1, 3, 5, 8, 10]

In [19]:
a = [15, 25, -10, 40, 55]
# Find the length, sum, min, and max of the list
print(len(a))
print(max(a))
print(min(a))

5
55
-10

In [20]:
a = [100, 200, 300]
# Clear all elements from the list
a.clear()
print(a)

[]

In [36]:
a = [5, 10, 15, 20, 25]
# Access the last and second-last element using negative indexing
b=a[3]
c=a[4]
print(f"second last element {b}")
print(f"last element {c}")

second last element 20
last element 25

In [40]:
a = [2, 4, 6, 8, 10, 12]
# Slice the list to get elements from index 1 to 4
a=a[1:5]
print(a)

[4, 6, 8, 10]

In [47]:
a = [1, 2, 3, 1, 2, 4, 5]
# Remove duplicates from the list
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [49]:
a = [12, 34, 56, 78, 90]
# Check if 56 exists in the list
for i in a:
    if i==56:
        print("yes")

yes

In [57]:
a = [2, 4, 6, 8]
# Multiply every element in the list by 2
for i in a:
        print(i*2)

4
8
12
16